<!DOCTYPE html>
<!--suppress ALL -->
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Proveedores</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<style>
    #cabecera{
        background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/03/73/66/3557bacbd43bd11.jpg");
    }
</style>
<body>
<div class="container">

    <!-- Barra de navegacion -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/contacto/inicio">Inicio</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/cliente/lista">Clientes</a>
                </li>
                <li class="nav-item active">
                    <a class="navbar-brand" href="#">Proveedores<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/producto/lista">Productos</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/contacto/lista">Contactos</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Cabecera -->
    <div id="cabecera">
        <br/>
        <img src="https://365prosports.com/wp-content/uploads/2018/07/logo@1x_round.png"
             width="90" height="90" alt="ropa" style="position: absolute">
        <h2 align="center">Politienda 365 ProSports</h2>
        <h5 align="center">Aplicaciones WEB - GR1</h5><br/>
    </div>

    <!-- Tabla -->
    <h2>Catálogo de proveedores</h2>
    <p>Listando proveedores</p>
    <a href="/proveedor/crear">
        <button class="btn btn-dark">Agregar nuevo</button>
    </a>
    <form action="buscar" method="post">
        <br/>
        <div class="form-group row">
            <div class="col-lg-3">
                <label for="busquedaId" hidden></label>
                <input type="text" id="busquedaId" placeholder="Buscar proveedor" name="busqueda" class="form-control">
            </div>
            <div class="col-lg-3">
                <button type="submit" class="btn btn-success mb-2">Buscar</button>
            </div>
        </div>
    </form>
    <table class="table table-hover table-sm">
        <thead class="table-dark">
        <tr>
            <th>idProv</th>
            <th>Nombre Proveedor</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <% arrayProveedor.forEach((proveedor)=> { %>
        <tr>
            <td><%=proveedor.idprov %></td>
            <td><%=proveedor.nombreproveedor %></td>
            <td><%=proveedor.direccion %></td>
            <td><%=proveedor.telefono %></td>
            <td>
                <div class="row">
                    <div class="col-lg-4">
                        <a href="/proveedor/editar/<%=proveedor.idprov%>">
                            <button class="btn btn-info">Editar</button>
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <form action="/proveedor/eliminar" method="post">
                            <button class="btn btn-danger">Eliminar</button>
                        </form>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
        <% }) %>
    </table>
</div>
</body>
</html>