<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Updating song metadata</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2>Update Form</h2>
        <p>Updating song metadata:</p>
        <form
                action="/music/editar/<%=music.id%>"
                method="post" class="form-group">
            <div class="form-group row">
                <div class="col-lg-3">
                    <label for="title">Title:</label>
                    <input id="title" name="title" type="text" class="form-control" required value="<%=music.title%>">
                </div>
                <div class="col-lg-3">
                    <label for="Artist">Artist:</label>
                    <input id="Artist" name="artist" type="text" class="form-control" required value="<%=music.artist%>">
                </div>
                <div class="col-lg-3">
                    <label for="Album">Album:</label>
                    <input id="Album" name="album" type="text" class="form-control" value="<%=music.album%>">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-3">
                    <label for="fecha">Release Date:</label>
                    <input id="fecha" name="release" type="date" class="form-control" value="<%=music.release%>">
                </div>
                <div class="col-lg-3">
                    <label for="track">Track Num:</label>
                    <input id="track" name="trackNum" type="number" min="0" step="1" class="form-control" value="<%=music.trackNum%>">
                </div>
                <div class="col-lg-3">
                    <label for="tipo">Genre:</label>
                    <select name="genre" id="tipo"  class="form-control">
                        <option value="R&B">R&B</option>
                        <option value="Electronic">Electronic</option>
                        <option value="House" selected>House</option>
                        <option value="Indie">Indie</option>
                        <option value="Tech">Tech House</option>
                        <option value="Instrumental">Instrumental</option>
                        <option value="Funk">Funk</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <button type="reset" class="btn btn-outline-danger">Limpiar</button>
                    <a href="/music/lista">
                        <button type="button" class="btn btn-outline-dark">Cancelar</button></a>
                    <button class="btn btn-outline-primary">Send data</button>
                </div>
            </div>
        </form>
    </div>

</body>
</html>