<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Actualizando canciones</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2>Formulario de Actualización</h2>
        <p>Actualizando metadatos de <b>"<%=music.titulo%>"</b></p>
        <form
                action="/music/editar/<%=music.id%>"
            method="post" class="form-group">
            <div class="form-group row">
                <div class="col-lg-3">
                    <label for="title">Título:</label>
                    <input id="title" name="titulo" type="text" class="form-control" required value="<%=music.titulo%>">
                </div>
                <div class="col-lg-3">
                    <label for="Artist">Artista:</label>
                    <input id="Artist" name="artista" type="text" class="form-control" required value="<%=music.artista%>">
                </div>
                <div class="col-lg-3">
                    <label for="Album">Álbum:</label>
                    <input id="Album" name="album" type="text" class="form-control" value="<%=music.album%>">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-3">
                    <label for="fecha">Fecha de Lanzamiento:</label>
                    <input id="fecha" name="lanzamiento" type="date" class="form-control" value="<%=music.lanzamiento.toLocaleString("es-ES",{
                        year: "numeric",
                        month: "2-digit",
                        day: "2-digit"
                    }) %>">
                </div>
                <div class="col-lg-3">
                    <label for="track">Track Num:</label>
                    <input id="track" name="trackNum" type="number" min="0" step="1" class="form-control" value="<%=music.trackNum%>">
                </div>
                <div class="col-lg-3">
                    <label for="tipo">Genre:</label>
                    <select name="genero" id="tipo"  class="form-control">
                        <option value="R&B">R&B</option>
                        <option value="Electronic">Electronic</option>
                        <option value="House" selected>House</option>
                        <option value="Indie">Indie</option>
                        <option value="Tech">Tech House</option>
                        <option value="Instrumental">Instrumental</option>
                        <option value="Funk">Funk</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <button type="reset" class="btn btn-outline-danger">Limpiar</button>
                    <a href="/music/lista">
                        <button type="button" class="btn btn-outline-dark">Cancelar</button></a>
                    <button class="btn btn-outline-primary">Enviar información</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>