<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Probando Typescript</title>
    <!--link rel="stylesheet" type="text/css" href="../views/css/bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>Music Library</h2>
    <a href="/music/crear">
        <button class="btn btn-dark">Add new</button>
    </a>
    <br/>
    <br/>
    <table class="table table-hover table-sm">
        <thead class="thead-dark">
            <tr>
                <th>Title</th>
                <th>Artist</th>
                <th>Album</th>
                <th>Release</th>
                <th>TrackNum</th>
                <th>Genre</th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
        <% arrayMusic.forEach((music)=> { %>
            <tr>
                <td><%=music.title %></td>
                <td><%=music.artist %></td>
                <td><%=music.album %></td>
                <td><%=music.release.toLocaleString() %></td>
                <td><%=music.trackNum %></td>
                <td><%=music.genre %></td>
                <td>
                    <div class="row">
                        <div class="col-lg-4">
                            <a href="/music/editar">
                                <input id="id" name="id" type="number" value="<%=music.id %>" hidden>
                                <button class="btn btn-primary">Editar</button>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <form action="/music/eliminar" method="post">
                                <label class="sr-only"  for="id"></label><input id="id" name="id" type="number" value="<%=music.id %>" hidden>
                                <button class="btn btn-danger">Eliminar</button>
                            </form>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
        <% }) %>
    </table>
</div>
</body>
</html>
